body {
    background: white;
}

#btn {

    background: white;
    margin: 0 25%;
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4);
    font-size: 3em;
}

#para {
    width: 100%;
    border: 1px solid #000;
}

#directions {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4);
}