body {
    background: #EEE;
}

#btn {

    background: white;
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
    height: 25vh;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4);
    font-size: 2em;
}

#btn:hover {
    background: #DDD;
}

#para {
    width: 100%;
    height: 4vh;
    border: 1px solid #000;
}

#directions {
    width: 100%;
    height: 62vh;
    border: 1px solid black;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4);
}